body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #3a3a3a;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
    height: 90vh; /* Base case: 90% of viewport height */
    width: auto;
    aspect-ratio: 1 / 1;
    border: 2px solid #1f1f1f;
}

@media (max-aspect-ratio: 1/1) {
    .grid-container {
        height: auto;
        width: 90vw; /* When the viewport is taller than it is wide, set width to 90% of viewport width */
    }
}

.grid-cell {
    border: 1px solid #1f1f1f;
}