body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #161616;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
    height: 90vh;
    width: auto;
    aspect-ratio: 1 / 1;
    border: 5px solid #0e0e0e;
    background-color: #1d1d1d;
    position: relative;
}

@media (max-aspect-ratio: 1/1) {
    .grid-container {
        height: auto;
        width: 90vw;
    }
}

.grid-cell {
    border: 1px solid #222222;
    background-color: #1d1d1d;
    position: relative;
    z-index: 1;
}